{% extends "layout_user.html" %}

{% block title %}
    Exchange
{% endblock %}

{% block content %}
<div class="position-absolute top-50 start-50 translate-middle border border-dark rounded p-5">
    <form method="POST">
        <div class="container">
            <p>Which book are you looking for</p>
            <label name="name">name</label>
            <input type="text" class="form-control" name="name">
            <label name="author">authors</label>
            <input type="text" class="form-control" name="authors">
            <button type="submit" class="btn btn-primary mt-3">FIND</button>
        </div>
    </form>
</div>
{% endblock %}
